.scroll-up-btn {
    width: 5rem;
    height: 5rem;
    background-color: $color-floating-bg-clear;
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    border-radius: 50%;
    font-size: 1.7rem;
    color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;

    @include respond(phone-small) {
        bottom: 2rem;
        right: 2rem;
    }

    &:hover {
        background-color: $color-aqua;
        transform: scale(1.05);
    }
}