//COLORS
$color-white: #fff;
$color-white-dark: #aaa;
$color-black: #000;
$color-black-light: #222;
$color-grey: #888;
$color-grey-dark: #999;
$color-grey-light: #ddd;
$color-floating-bg: rgba(50, 231, 255, 0.1);
$color-floating-bg-clear: rgba(50, 231, 255, 0.8);
$color-navbar-link: rgba(255, 255, 255, .2);
$color-customer-bg: #eee;
$color-gamboge: #F08E0F;
$color-story-font: #796717;
$color-emperor: #505050;
$color-casablanka: #FAB34A;
$color-aqua: #32E7FF;
$color-copyright: #444;